@CHARSET "ISO-8859-1";

@import url("dijit/adminDij.css");
@import url("files.css");
@import url("icons.css");

/* ==================================================================================================== */
/* ====== GLOBAL STYLES =============================================================================== */
/* ==================================================================================================== */

body {
	background: #CCC;
	margin: 0px;
	padding-bottom: 1px;
	padding: 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #666666;
}

html {
	height: 100%;
}

#tContent a {
	color: #4885D7;
	text-decoration: none;
}

#preloader {
  	width:100%; 
  	height:100%; 
  	margin:auto; 
  	padding:0;
  	background:#CCC url('/_styles/admin/images/page-loader.gif') no-repeat center center;
    position:absolute;
    z-index:999;
}

/* ==================================================================================================== */
/* ====== PAGE TEMPLATE =============================================================================== */
/* ==================================================================================================== */

.tWrap {
	margin:10px;
}

.tLeft {
	float: left;
	width: 140px;
}

.tRight {
	margin: 0 0 0 142px;
}

.tHead {
	height: 50px;
	background: #72A0E0;
	padding-left: 15px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

/* ==================================================================================================== */
/* ====== HEADER ====================================================================================== */
/* ==================================================================================================== */

#template_usermenu {
	height: 25px;
	margin-right: 10px;
}

.userTab {
	position: relative;
	top: 1px;
	float: right;
	margin-right: 5px;
	background: #FFF;
	border-left: 10px solid #72A0E0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	height: 20px;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 0px;
	color: #333;
}

.userTab img {
	vertical-align: text-top;
	margin-right: 3px;
	margin-left: -3px;
}

#template_usermenu a:link, #template_usermenu a:visited {
	text-decoration: none;
	color: #333;
	border-left: 10px solid #72A0E0;
}

#template_usermenu a:hover, #template_usermenu a:active {
	text-decoration: none;
	color: #FFF;
	border-left: 10px solid #D4E3FB;
	background: #72A0E0;
}

#template_usermenu a.active {
	text-decoration: none;
	color: #FFF;
	border-left: 10px solid #D4E3FB;
	background: #72A0E0;
}

.template_title {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 10px;
}

.template_title a {
	color: #FFF;
	text-decoration: none;
}

/* ==================================================================================================== */
/* ====== MAIN MENU =================================================================================== */
/* ==================================================================================================== */

ul.tMenu {
	margin: 0;
	padding: 0;
	width: 140px;
	margin-top: 75px;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: 140px;
}

ul.tMenu li {
	margin: 0;
	margin-bottom: 2px;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 140px;
}

ul.tMenu li a {
	display: block;
	cursor: pointer;
	background-color: #FFF;
	padding: 0.5em 0.75em;
	color: #333;
	text-decoration: none;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-left: 10px solid #72A0E0;
}

ul.tMenu li a.active {
	background-color: #72A0E0;
	color: #FFF;
	border-left: 10px solid #D4E3FB;
}

ul.tMenu a:hover, ul.tMenu a:focus {
	background-color: #72A0E0;
	color: #FFF;
	border-left: 10px solid #D4E3FB;
}

/* ==================================================================================================== */
/* ====== CONTENT ===================================================================================== */
/* ==================================================================================================== */

#tContent {
	background: #FFFFFF;
	padding: 15px;
	min-height: 210px;
}

.template_relatedbox {
	margin-top: 10px;
	margin-bottom: 10px;
	width:580px; 
	height:180px;
	overflow:auto;
}

h1 {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	color: #666666;
	border-bottom: 3px solid #666666;
	margin: 0px;
	margin-bottom: 18px;
}

h2 {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
	border-bottom: 2px dotted #666666;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 8px;
	clear: both;
}

#template_content p {
	line-height: 140%;
}

.content_buttonrowright {
	float: right;
	text-align: right;
	margin: 0px;
}

.content_buttonrowright form {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}

.content_buttonrow {
	text-align: left;
	margin: 0px;
	margin-bottom: 5px;
}

#template_foot {
	height: 20px;
	padding-top: 8px;
	padding-right: 20px;
	margin-bottom: 20px;
	background: #72A0E0;
	text-align: right;
	font-size: 10px;
	clear: both;
	color: #FFFFFF;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#template_foot a {
	color: #FFFFFF;
	text-decoration: none;
}

/* ==================================================================================================== */
/* ====== FORM STUFF ================================================================================== */
/* ==================================================================================================== */

#form_table {
	margin-top: 15px;
	margin-bottom: 15px;
}

#form_table a:link, #form_table a:visited, #form_table a:hover, #form_table a:active {
	color: #72A0E0;
}

#form_table td {
	padding: 5px;
	line-height: 20px;
}

#form_table th {
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

#form_table h4 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border-bottom: 2px dotted #333333;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.form_input {
	background: #FFFFFF;
	border: 2px solid #4885D7;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	margin-right: 5px;
	margin-bottom: 2px;
	padding: 3px;
	vertical-align: middle;
}

.form_select {
	background: #FFFFFF;
	border: 2px solid #4885D7;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	margin-right: 5px;
	margin-bottom: 2px;
	padding: 0px;
	vertical-align: middle;
}

.form_checkbox {
	background: #FFFFFF;
	color: #333333;
	margin: 0px;
	margin-right: 5px;
	vertical-align: middle;
}

.form_button {
	background: #F0970E;
	border: 0px solid #333333;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	padding: 2px;
	vertical-align: middle;
}

.cForm {
	margin: 0px;
	padding: 0px;
}

.cForm input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*color: #444444;*/
	margin: 0px !important;
}

/*.cForm button {
	margin: 0px !important;
}*/

.cForm textarea {
	margin: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*color: #444444;*/
}

.cForm label {
	margin: 0px;
	line-height: 20px;
}

.cFormInput {
	/*background: #FFFFCC;*/
	/*border: 1px solid #FFCC66;*/
	padding: 3px;
	margin: 0px;
}

.cFormInputN {
	/*background: #EEEEEE;*/
	/*border: 1px solid #CCCCCC;*/
	padding: 3px;
	margin: 0px;
}

.cFormSelect {
	/*background: #FFFFCC;*/
	/*border: 1px solid #FFCC66;*/
	/*color: #666666;*/
	margin: 0px;
	padding: 1px;
}

.cFormLabelI {
	padding-left: 3px;
	padding-right: 7px;
}

.cFormLabelF {
	padding: 3px;
	padding-right: 7px;
	padding-bottom: 4px;
	width: 210px;
	display: block;
	float: left;
}

.cFormItm {
	clear: both;
	padding-bottom: 5px;
}

.cFormDS {
	padding-top: 10px;
	text-align: center;
}

.cFormItmS {
	clear: both;
	padding-bottom: 5px;
	padding-top: 8px;
}

.cFormItmH {
	float: left;
	padding-bottom: 5px;
	margin-right: 10px;
}

.cFormButH {
	float: left;
	padding-bottom: 5px;
	padding-top: 17px;
	margin-right: 10px;
}

.cFormItmR {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.cFormHlp {
	cursor: pointer;
	vertical-align: middle;
}

.cFormButtonS {
	margin-right: 10px;
}

.cFieldset {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	padding: 10px;
	padding-top: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.cFLegend {
	background: #EEEEEE;
	line-height: 16px;
	border: 1px solid #DDDDDD;
	font-weight: bold;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 5px;
}

.cFormKeyW {
	width: 280px;
	height: 206px;
	overflow: auto;
	border: 1px solid #CCCCCC;
	margin-top: 3px;
}

.cFormKey {
	width: 270px;
	padding: 3px;
}

.cFormErr {
	padding-top: 3px;
	color: #990000;
	font-weight: bold;
}

/* Markup indicators for forms */

.reMarkup {
	color: #999999;
	font-size: 11px;
	padding-top: 4px;
}

/* ==================================================================================================== */
/* ====== MANAGEMENT TABLES =========================================================================== */
/* ==================================================================================================== */

#managetable {
	margin-top: 5px;
	margin-bottom: 10px;
}

#managetable th {
	text-align: left;
	padding: 8px;
	border-bottom: 2px solid #666666;
}

#managetable td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #666666;
}

#managetable a:link, #managetable a:visited, #managetable a:hover, #managetable a:active {
	color: #4885D7;
	text-decoration: none;
}

#managetable img {
	margin-right: 10px;
	vertical-align: text-bottom;
}

#managetable p {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.managetable_row1 {
	background-color: #FFFFFF;
	vertical-align: top;
}

.managetable_row2 {
	background-color: #EEEEEE;
	vertical-align: top;
}

.managetable_highlight {
	background-color: #FFFFDD;
	vertical-align: top;
}

.managetableoptions {
	background: #FFFFFF;
	text-align: left;
	padding: 8px;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

.managetable_options {
	padding-top: 15px;
	float: right;
}

.managetable_options img {
	margin-right: 3px;
	vertical-align: text-bottom;
}

.managetable_options a:link, .managetable_options a:visited, .managetable_options a:active, .managetable_options a:hover {
	color: #4885D7;
	text-decoration: none;
}

.managetable_details {
	margin-top: 15px;
	margin-bottom: 20px;
}

.managetable_details img {
	margin-right: 3px;
	vertical-align: text-bottom;
}

.managetable_details a:link, .managetable_details a:visited, .managetable_details a:active, .managetable_details a:hover {
	color: #4885D7;
	text-decoration: none;
}

#managetable_detailstable {
	width: 92%;
	padding: 3px;
}

#managetable_detailstable th {
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

#managetable_detailstable td {
	border: 0px;
	text-align: left;
	vertical-align: top;
}

#managetable_detailstable img {
	margin: 0px;
	padding: 0px;
}

.managetable_detailsfoot {
	text-align: right;
	font-size: 10px;
}

.list_details {
	margin-bottom: 8px;
}

.list_details img {
	margin-right: 3px;
	vertical-align: text-bottom;
}

.list_details a:link, .list_details a:visited, .list_details a:active, .list_details a:hover {
	color: #72A0E0;
	text-decoration: none;
}

.list_options {
	float: right;
}

.list_options img {
	margin-left: 10px;
	margin-right: 3px;
	vertical-align: text-bottom;
}

.list_options a:link, .list_options a:visited, .list_options a:active, .list_options a:hover {
	color: #72A0E0;
	text-decoration: none;
}

#summary_table {
	margin-top: 10px;
	margin-bottom: 0px;
	width: 90%;
}

#summary_table a:link, #summary_table a:visited, #summary_table a:hover, #summary_table a:active {
	color: #72A0E0;
	text-decoration: none;
}

#summary_table td {
	padding: 5px;
}

#summary_table th {
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

#summary_table h4 {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	border-bottom: 2px dotted #666666;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#update_details {
	margin-top: 20px;
	margin-bottom: 5px;
	background: #EEEEEE;
	padding: 10px;
	text-align: center;
}

#update_details img {
	margin-right: 12px;
	vertical-align: text-bottom;
}

/* ==================================================================================================== */
/* ====== PAGINATION ================================================================================== */
/* ==================================================================================================== */

.aNav {
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #FFF;
	line-height: 20px;
	height: 26px;
	overflow: hidden;
}

.nButWrapL {
	float: left;
	padding: 3px;
	padding-left: 0px;
	line-height: 20px;
}

.nButWrapR {
	float: right;
}

.nButWrapR a {
	border: 1px solid #BBBBBB;
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
	display: block;
	float: left;
}

.nButWrapR a:link, .nButWrapR a:visited { 
	background: #EEEEEE;
	color: #666666;
	}
.nButWrapR a:hover, .nButWrapR a:active { 
	background: #F9F9F9;
	color: #666666;
	}

.nButA {
	background: #F9F9F9;
	color: #666666;
	font-weight: bold;
	border: 1px solid #BBBBBB;
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
	display: block;
	float: left;
	cursor: default;
}

.nButN {
	background: #EEEEEE;
	color: #BBBBBB;
	border: 1px solid #BBBBBB;
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
	display: block;
	float: left;
	cursor: default;
}

/* ==================================================================================================== */
/* ====== DETAILS TABLES ============================================================================== */
/* ==================================================================================================== */

#details_table {
	float: left;
	background: #EEEEEE;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

#details_table th {
	text-align: right;
	padding: 5px;
	font-weight: bold;
}

#details_table td {
	text-align: left;
	padding: 5px;
	padding-right: 8px;
	font-weight: normal;
	border-right: 2px dotted #666666;
}

#details_head_table {
	background: #EEEEEE;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#details_head_table th {
	text-align: right;
	padding: 5px;
	font-weight: bold;
}

#details_head_table td {
	text-align: left;
	padding: 5px;
	padding-right: 8px;
	font-weight: normal;
}

/* ==================================================================================================== */
/* ====== ERRORS & NOTIFICATIONS ====================================================================== */
/* ==================================================================================================== */

.cNotif {
	margin-bottom: 20px;
}

.cUpd {
	background: url(icons/information.gif) 4px 4px no-repeat;
	padding: 5px;
	padding-left: 24px;
	clear: both;
}

.cErr {
	background: #FFCCCC url(../admin/icons/exclamation.gif) 5px 5px no-repeat;
	padding: 5px;
	padding-top: 6px;
	padding-left: 25px;
	margin-bottom: 5px;
	clear: both;
}

.cInfo {
	background: #f9f7ba url(icons/information.gif) 4px 4px no-repeat;
	clear: both;
}

.cInfo p {
	padding: 0px;
	margin: 10px;
	margin-top: 11px;
	margin-left: 32px;
}

.cInfo img {
	float: right;
	margin: 10px;
	cursor: pointer;
}

/* ==================================================================================================== */
/* ====== TAGS ======================================================================================== */
/* ==================================================================================================== */

.tagItm {
	padding: 5px;
	padding-left: 9px;
	font-size: 14px;
	line-height: 27px;
	white-space: nowrap;
	cursor: default;
}

.tagItm_del {
	background: url(icons/bullet_delete.gif) -3px 0px no-repeat;
	padding: 5px;
	padding-left: 9px;
	font-size: 14px;
	line-height: 27px;
	cursor: pointer;
	white-space: nowrap;
}

/* ==================================================================================================== */
/* ====== HACKS ======================================================================================= */
/* ==================================================================================================== */

.ClearAll {
	clear: both;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
	float: none;
}

/* ==================================================================================================== */
/* ====== COMMENTS ==================================================================================== */
/* ==================================================================================================== */

.comFieldset {
	border: 1px solid #DDDDDD;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
	margin-bottom: 10px;
}

.comFieldset a {
	color: #4885D7;
	text-decoration: none;
	cursor: pointer;
}

.notapproved {
	background: #FFCCCC;
	border: 1px solid #A40000;
}

.notapproved div {
	border: 1px solid #A40000 !important;
}

.comFLegend {
	background: #EEEEEE;
	line-height: 16px;
	border: 1px solid #DDDDDD;
	font-weight: bold;
	margin-left: 10px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.comContent {
	margin: 0px;
	padding: 7px;
	padding-top: 2px;
}

.comFoot {
	background: #F6F6F6;
	padding: 5px;
	padding-left: 10px;
	border-top: 1px solid #DDD;
}

.comInfo {
	float: left;
	width: 160px;
	background: #F6F6F6;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #DDD;
	line-height: 20px;
}

.comInfoTab {
	border-collapse:separate;
	border-spacing: 0px;
	border: none;
	padding: 0px;
}

.comInfoTab th, .comInfoTab td {
	padding: 0px;
	vertical-align: top;
}

.comInfoTab th {
	width: 16px;
	padding-right: 6px;
	padding-top: 2px;
}

.comEdit {
	float: right;
	background: #F6F6F6;
	margin: 5px;
	margin-left: 10px;
	margin-top: 0px;
	padding: 5px;
	border: 1px solid #DDD;
	line-height: 20px;
}

/* ==================================================================================================== */
/* ====== DASHBOARD =================================================================================== */
/* ==================================================================================================== */

.dashItem {
	float: left;
	width: 370px;
	padding: 10px;
	border: 1px solid #DDD;
	margin-right: 10px;
	margin-bottom: 10px;
}

.dashItem h3 {
	padding: 0px;
	padding-bottom: 5px;
	padding-left: 22px;
	margin: 0px;
}

.dashItem a {
	cursor: pointer;
}

.dashDetails {
	padding-top: 5px;
}

.dashDetails span {
	padding-right: 5px;
}

/* ==================================================================================================== */
/* ====== SUBSCRIPTIONS =============================================================================== */
/* ==================================================================================================== */

.aBox {
	border: 1px solid #DDD;
	background: #FFF;
	padding: 10px;
	color: #666;
}

.aBox.nopad {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.aBox.toppad {
	padding-top: 10px !important;
	padding-bottom: 5px !important;
}

.aBox.botpad {
	padding-top: 5px !important;
	padding-bottom: 10px !important;
}

.aBox h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.aBox p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
}

/* Div Backgrounds */

.yBG {
	background: #FFFFDD !important;
	border: 1px solid #FFCC00 !important;
}

/* ==================================================================================================== */
/* ====== ERROR PAGES ================================================================================= */
/* ==================================================================================================== */

#eContent a {
	color: #4885D7;
	text-decoration: none;
}

.eOuter {
	width: 100%;
	height: 100%;
	display: table;
}

.eInner {
	display: table-cell;
	vertical-align: middle;
	border-spacing: 0px; 
	padding: 0px;
	margin: 0px;
}

.eWrap {
	width: 480px;
	margin: auto;
}

.eHead {
	height: 25px;
	background: #72A0E0;
	padding-left: 15px;
	padding-top: 5px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

#eContent {
	background: #FFFFFF;
	padding: 15px;
}

#eContent h1 {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
	border-bottom: 3px solid #666666;
	margin: 0px;
	margin-bottom: 18px;
}

#eContent p {
	line-height: 140%;
}

#eFoot {
	height: 20px;
	padding-top: 8px;
	padding-right: 20px;
	background: #72A0E0;
	text-align: right;
	font-size: 10px;
	clear: both;
	color: #FFFFFF;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#efoot a {
	color: #FFFFFF;
	text-decoration: none;
}
