@CHARSET "ISO-8859-1";

/* Mail Icons */

.mailIcon {
	background-image: url('email.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.newmailIcon {
	background-image: url('email_add.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.sendmailIcon {
	background-image: url('email_go.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.deletemailIcon {
	background-image: url('email_delete.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.listIcon {
	background-image: url('script.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.newlistIcon {
	background-image: url('script_add.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.deletelistIcon {
	background-image: url('script_delete.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}

.editlistIcon {
	background-image: url('script_edit.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
}